.bold{
    font-weight: 700;
    cursor: pointer;
}

.greyish{
    color: #747373;
}

.formCredentials{
    max-width: 70%;
    padding-top: 2em;
    border-top-right-radius: 1.7em;
    border-top-left-radius: 1.7em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.formCredentials.login{
    transform: translateX(-50%) translateY(-35%);
}

.formCredentials.login .registerForm{
    padding: 0 18em;
}

.formCredentials h2{
    color: #1D1E1C;
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.formCredentials h3{
    color: #323A46;
    text-align: center;
    width: 350px;
    font-size: 1.1em;
    margin: 1em 0 2em 0;
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.registerForm{
    display: flex;
    padding: 0 9em;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}

fieldset{
    border: none;
    display: flex;
    gap: 1.5em;
}

fieldset label{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 300px;
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    position: relative;
}

fieldset .labelLogin{
    width: 350px;
}

.labelCheckbox{
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

input{
    color: #667085;
    width: 100%;
    height: 45px;
    font-size: .9em;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: .5em;
    border: 1px solid #E0E3E8;
    padding: 0 1em;
    background-color: #FAFAFC;
}

.showpass{
    width: 20px;
    position: absolute;
    top: 58%;
    right: 1em;
}

input:focus-visible{
    border: 1px solid #3573f8;
    outline: none;
}

.formCredentials input.error{
    border: 1px solid #ff0000;
}

.labelCheckbox{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    user-select: none;
}

.formCredentials input[type="checkbox"]{
    width: 1.2em;
}

button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: #2E2B5D;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

button:hover{
    background-color: #433E98;
}

button:active{
    background-color: #0F0E24;
}

.buttonMicrosoft{
    background-color: #F2F2F6;
    color: #000;
    border: 1px solid #D6D9DC;
}

.buttonMicrosoft:hover{
    background: #FAFAFC;
    border: 1px solid #4589F9;
}

.formCredentials .registerForm a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.formCredentials .forgetPassword{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formCredentials .forgetPassword a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: #474747;
}
.formCredentials a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: #474747;
}

.formCredentials .descriptionUniandes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.formCredentials .descriptionUniandes p{
    font-size: .75em;
    color: #1D1E1C;
    font-family: 'Work Sans', sans-serif;
}

.messageError{
    color: #FF0000;
    font-size: .85em;
}