.bold{
    font-weight: 700;
    cursor: pointer;
}

.greyish{
    color: #747373;
}

.formCredentials{
    min-width: 65%;
    padding-top: 2em;
    border-top-right-radius: 1.7em;
    border-top-left-radius: 1.7em;
    background-color: #f4f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formCredentials.login{
    top: 70%;
}

.formCredentials.login .registerForm{
    padding: 0 18em;
}

.formCredentials h2{
    font-size: 3em;
}

.formCredentials h3{
    text-align: center;
    width: 350px;
    font-size: 1.1em;
    margin: 1em 0 2em 0;
}

.registerForm{
    display: flex;
    padding: 0 9em;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}

fieldset{
    border: none;
    display: flex;
    gap: 1.5em;
}

fieldset label{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 300px;
}

fieldset .labelLogin{
    width: 350px;
}


input{
    width: 100%;
    height: 45px;
    font-size: .9em;
    border-radius: .5em;
    border: 1px solid #dddddd;
    padding: 0 1em;
}

input:focus-visible{
    border: 1px solid #3573f8;
    outline: none;
}

.formCredentials input.error{
    border: 1px solid #ff0000;
}

.labelCheckbox{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    user-select: none;
}

.formCredentials input[type="checkbox"]{
    width: 1.2em;
}

button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
}

.formCredentials .registerForm a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.formCredentials .forgetPassword{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formCredentials .descriptionUniandes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.formCredentials .descriptionUniandes p{
    font-size: .75em;
}

.messageError{
    color: #FF0000;
    font-size: .85em;
}