.containerPerfil{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    padding: 3em 6em;
    background-image: url(http://localhost:3000/fondo-web-andes.jpg);
}

.containerPerfil h2{
    color: #323A46;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.containerPerfil .containerArticles{
    display: flex;
    width: 100%;
    gap: 3em;
}

.containerPerfil .containerArticles h3{
    color: #323A46;
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.containerPerfil .containerArticles .articlePefil{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.containerPerfil .containerArticles .articlePefil .porcentajeCv{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: #fff;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
    padding: 1em 1.5em;
}


.formPerfil{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
    padding: 31px 51px;
    gap: 1.5em;
}

.formPerfil .photoLoad{
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.formPerfil .buttonLoad{
    width: 80%;
    height: 40px;
    border-radius: 8px;
    background-color: #2E2B5D;
    color: #fff;
}

.formPerfil .loadPhoto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
}

.formPerfil label{
    width: 270px;
}

.savePefil{
    background-color: #2E2B5D;
    color: #fff;
}

.downloadCv{
    width: 200px;
    height: 40px;
    background-color: #2E2B5D;
    color: #fff;
}

