@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #e0dfe7;
}

/* ---- HEADER ---- */

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
}

header.user{
    height: 100px;
    padding: 1rem 0;
    background-color: #FFEC00;
    position: static;
}

header .logo{
    height: 60px;
    padding: 0 5rem;
}

header .containerNavigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logoSimple{
    height: 60px;
    padding: 0 5rem 0 6rem;
}

header .nav{
    width: max-content;
    display: flex;
    align-items: center;
}

header .nav a{
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    padding: .2rem 1.5rem;
}

header .nav a.active{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 1em;
}

header .userSignOut{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    padding: .5rem ;
    border-radius: 30px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
}

header .userSignOut .userImg{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

header .userSignOut .arrow{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    cursor: pointer;
}

header .userSignOut p{
    cursor: pointer;
}

header .menuBurger{
    display: none;
}

.profile{
    background-color: #FFFFFF;
    color: #323A46;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    margin-top: 5px;
    z-index: 100;
    overflow: hidden;
    min-height: 0;
    height: 0;
    transition: min-height .3s;
}

.profile:hover{
    background-color: #f5f5f5;
    color: #000;
}

.profile:active{
    background-color: #e7e7e7;
}

.profile.show{
    min-height: 45px;
}

@media screen and (max-width: 992px) {

    header{
        height: 80px;
        justify-content: center;
    }

    header .logoSimple {
        height: 60px;
        padding: 0 3rem 0 3rem;
    }

    header .nav {
        /* display: none; */
    }

    header .containerNavigation{
        justify-content: flex-end;
        padding-right: 1em;
    }

    header .userSignOut{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-right: 1rem;
        padding: .5rem ;
        border-radius: 10px;
        position: relative;
    }

    header .userSignOut .userImg{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
    }

    header .userSignOut .arrow{
        width: 10px;
        height: 10px;
        margin-left: 0;
        margin-top: 5px;
        cursor: pointer;
    }

    header .userSignOut p{
        display: none;
    }

    header .menuBurger{
        display: flex;
    }

    header .menuBurger img{
        width: 40px;
    }

    .profile{
        right: 60%;
    }
}

@media screen and (max-width: 800px){

    header .logoSimple{
        padding: 0 1rem 0 1rem;
    }
}

@media screen and (max-width: 696px) {

    
    header{
        padding-top: 2rem;
    }

    header .logo {
        height: 60px;
        padding: 0;
    }

}




/* ---- BACKGROUND ---- */

.containerBackground{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e0dfe7;
}

.backgroundImage{
    display: inline-block;
    width: 100%;
    min-height: 60vh;
    background-image: url("../../public/Fondo-login.png");
    background-position: center;
    background-size: cover;
}

.backgroundGrey{
    background-color: #e0dfe7;
    max-height: 200px;
}




/* ---- FORM ---- */

.bold{
    font-weight: 700;
    cursor: pointer;
}

.greyish{
    color: #747373;
}

.formCredentials{
    max-width: 70%;
    padding-top: 2em;
    border-top-right-radius: 1.7em;
    border-top-left-radius: 1.7em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.formCredentials.login{
    transform: translateX(-50%) translateY(-35%);
}

.formCredentials.login .registerForm{
    padding: 0 18em;
}

.formCredentials h2{
    color: #1D1E1C;
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.formCredentials h3{
    color: #323A46;
    text-align: center;
    width: 350px;
    font-size: 1.1em;
    margin: 1em 0 2em 0;
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.registerForm{
    display: flex;
    padding: 0 9em;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}

fieldset{
    border: none;
    display: flex;
    gap: 1.5em;
}

fieldset label{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 300px;
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    position: relative;
}

fieldset .labelLogin{
    width: 350px;
}

.labelCheckbox{
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

input{
    color: #667085;
    width: 100%;
    height: 45px;
    font-size: .9em;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: .5em;
    border: 1px solid #E0E3E8;
    padding: 0 1em;
    background-color: #FAFAFC;
}

.showpass{
    width: 20px;
    position: absolute;
    top: 58%;
    right: 1em;
}

input:focus-visible{
    border: 1px solid #3573f8;
    outline: none;
}

.formCredentials input.error{
    border: 1px solid #ff0000;
}

.labelCheckbox{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    user-select: none;
}

.formCredentials input[type="checkbox"]{
    width: 1.2em;
}

button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: #2E2B5D;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

button:hover{
    background-color: #433E98;
}

button:active{
    background-color: #0F0E24;
}

.buttonMicrosoft{
    background-color: #F2F2F6;
    color: #000;
    border: 1px solid #D6D9DC;
}

.buttonMicrosoft:hover{
    background: #FAFAFC;
    border: 1px solid #4589F9;
}

.formCredentials .registerForm a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.formCredentials .forgetPassword{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formCredentials .forgetPassword a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: #474747;
}
.formCredentials a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: #474747;
}

.formCredentials .descriptionUniandes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.formCredentials .descriptionUniandes p{
    font-size: .75em;
    color: #1D1E1C;
    font-family: 'Work Sans', sans-serif;
}

.messageError{
    color: #FF0000;
    font-size: .85em;
}


@media screen and (max-width: 992px) {

    .formCredentials.login .registerForm {
        padding: 0;
    }

    .formCredentials .descriptionUniandes {
        padding: 2em 1rem;
    }

    .formCredentials .descriptionUniandes p {
        text-align: center;
    }

    fieldset{
        width: 100%;
    }

    fieldset label{
        width: 100%;
    }

    .registerForm{
        width: 100%;
        padding: 0 2em;
    }
}

@media screen and (max-width: 765px) {

    .formCredentials{
        max-width: 80%;
    }
}

@media screen and (max-width: 696px) {

    .formCredentials{
        max-width: 90%;
    }

    .formCredentials.login .registerForm {
        width: 100%;
        padding: 2em;
    }

    .formCredentials .descriptionUniandes{
        gap: 1rem;
    }

    .formCredentials.login {
        transform: translateX(-50%) translateY(-30%);
    }

    .formCredentials h2{
        font-size: 2.5em;
    }

    .formCredentials h3{
        width: 100%;
        font-size: 1em;
        padding: 0 2em;
        margin: 1em 0 0 0;
    }

    fieldset {
        width: 100%;
    }

    fieldset .labelLogin {
        width: 100%;
    }
}

@media screen and (max-width: 636px) {

    .formCredentials{
        transform: translateX(-50%) translateY(-15%);
    }

    .registerForm{
        padding: 1rem 4em;
    }

    fieldset {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px){

    .registerForm{
        padding: 1rem 2em;
    }
}



/* ---- SELECT ---- */

.select{
    position: relative;
    width: 100%;
}

.select .inputSelect{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: .5em;
    border: 1px solid #E0E3E8;
    background-color: #FAFAFC;
    padding: 0 1em;
    user-select: none;

    color: #667085;
    font-size: .9em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.select .inputSelect p{
    color: #CBD1D8;
    font-family: 'Nunito Sans';
    font-weight: 400;
}

.select .inputSelect .arrow{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 1em;
}

.select .selectExpand{
    width: 100%;
    list-style: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    border: 1px solid #dddddd;
    background-color: #fff;
    margin-top: .5em;
    visibility: hidden;
    border-radius: .5em;
    overflow: hidden;
    overflow-x: hidden;
    min-height: 0;
    height: 0;
    transition: min-height .3s, visibility .2s;
}

.select .selectExpand.show {
    min-height: 114px;
    max-height: 115px;
    overflow-y: auto;
    visibility: visible;
}

.select .selectExpand li{
    padding: 0.5em .5em;
}

.select .selectExpand li:hover{
    background-color: #dddddd;
}

.select .inputSelect:focus-visible{
    outline: none;
    border: 1px solid #3573f8;
}

.select .inputSelect.show{
    border: 1px solid #3573f8;
}

.select .inputSelect.error{
    border: 1px solid #df0000;
}

.select .inputOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.select .inputOption input{
    width: 50%;
    height: 60%;
    padding: 0 .5rem;
}



/* ---- PERFIL ---- */

.containerPerfil{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    padding: 3em 6em;
    background-image: url("../../public/fondo-web-andes.jpg");
    background-size: cover;
}

.containerPerfil h2{
    color: #323A46;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.containerPerfil .containerArticles{
    display: flex;
    width: 100%;
    gap: 3em;
}

.containerPerfil .containerArticles h3{
    color: #323A46;
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.containerPerfil .containerArticles .articlePefil{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.containerPerfil .containerArticles .articlePefil .porcentajeCv{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: #fff;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
    padding: 1em 1.5em;
}


.formPerfil{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
    padding: 31px 51px;
    gap: 1.5em;
}

.formPerfil .photoLoad{
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.formPerfil .buttonLoad{
    width: 80%;
    height: 40px;
}

.formPerfil .loadPhoto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
}

.formPerfil label{
    width: 270px;
}

.savePefil{
    background-color: #2E2B5D;
    color: #fff;
}

.downloadCv{
    width: 200px;
    height: 40px;
    background-color: #2E2B5D;
    color: #fff;
}




/* ---- LIFESHEET ---- */

.containerHoja{
    height: calc(100vh - 100px);
    padding: 0 6em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    background-image: url("../../public/fondo-web-andes.jpg");
}

.containerCreate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerCreate h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 2em;
    color: #323A46;
}

.createCv{
    width: 165px;
    background-color: #46AF59;
}

.createCv:hover{
    background-color: #45D15E;
}

.createCv:active{
    background-color: #348342;
}

.hojasDeVida{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hojasDeVida h3{
    font-family: 'Work Sans';
    color: #323A46;
}

.cvs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    background-color: #FFFFFF;
    border: 1px solid #E0E3E8;
    border-radius: 10px 10px 0px 0px;
}

.cvs p{
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
}

.iconoCv{
    width: 94px;
    height: 94px;
}




/* ---- CREATERESUME ---- */

.createResume{
    width: 100%;
    /* height: 86vh; */
    min-height: 86vh;
    padding: 2em 6em 0 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background-image: url("../../public/fondo-web-andes.jpg");
}

.createResume .containerCreateCv{
    width: 100%;
    min-height: 76vh;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E0E3E8;
    border-radius: 10px 10px 0px 0px;
}

.createResume .containerH2{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: #323A46;
    font-family: 'Work sans';
}

.createResume .containerH2 .arrowLeft{
    margin-right: .7em;
}

.createResume .subtitleCv{
    width: max-content;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.createResume .containerRol{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
}

.createResume .containerRol h3{
    font-family: 'Work Sans', sans-serif;
}

.createResume .containerRol .containerButton{
    display: flex;
    gap: 1rem;
}

.createResume .containerRol .containerButton .buttonSimple{
    width: max-content;
    height: 46px;
    padding: 0 1.5em;
    background-color: #FAFAFC;
    color: #667085;
    border-radius: 64px;
    border: 1px solid #E0E3E8;
}




/* ---- STEPS ---- */

.steps{
    display: flex;
    align-items: center;
    position: relative;
    gap: 100px;
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
}

.steps .containerCircle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.steps .containerCircle p{
    padding-top: .5em;
    font-size: .9em;
    font-family: 'Nunito Sans', sans-serif;
    width: max-content;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

.steps .containerCircle .circle{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #F4F3F3;
    font-size: 1.2em;
    font-weight: 600;
}


.steps .containerCircle .stick{
    display: flex;
    width: 100px;
    height: 7px;
    background-color: #F4F3F3;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.steps .containerCircle.active .circle, .steps .containerCircle.active .stick{
    background-color: #2E2B5D;
    color: #fff;
}




/* ---- CAROUSEL ---- */

.containerCarousel{
    padding-top: 3em;
    padding-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCarousel .carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.containerCarousel .carousel .containerSliders{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 590px;
}

.containerCarousel .carousel .slider{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    transform: translateX(150%);
    position: absolute;
    top: 50%;
}

.containerCarousel .carousel .slider .containerForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #323A46;
}

.containerCarousel .carousel .slider .containerForm hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    border: none;
}

.containerCarousel .carousel .slider .containerForm .photoLoad{
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.containerCarousel .carousel .slider .containerForm .loadPhoto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323A46;
    font-family: 'Nunito Sans', sans-serif;
}

.containerCarousel .carousel .slider .containerForm .loadPhoto .buttonLoad{
    height: 40px;
    width: 120px;
}

.containerCarousel .carousel .slider.default{
    transform: translateY(-50%) translateX(0);
}

.containerCarousel .carousel .slider.active{
    animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.containerCarousel .carousel .slider.dissable{
    animation: slide-left-dissable 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-left {
    0% {
        -webkit-transform: translateY(-50%) translateX(150%);
                transform: translateY(-50%) translateX(150%);
    }
    100% {
        -webkit-transform: translateY(-50%) translateX(0%);
                transform: translateY(-50%) translateX(0%);
    }
}

@keyframes slide-left-dissable {
    0% {
        -webkit-transform: translateY(-50%) translateX(0%);
                transform: translateY(-50%) translateX(0%);
    }
    100% {
        -webkit-transform: translateY(-50%) translateX(-160%);
                transform: translateY(-50%) translateX(-160%);
    }
}


fieldset .labelSlider{
    width: 50%;
}

fieldset .labelSlider.company{
    width: 70%;
}

.labelDescription{
    width: 100%;
}

.labelDescription textarea{
    resize: none;
    width: 100%;
    height: 80px;
    font-size: .9em;
    border-radius: .5em;
    padding: .5em 1em;
    color: #667085;
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid #E0E3E8;
    background-color: #FAFAFC;
}

.labelDescription .resumeWork{
    height: 80px;
    color: #667085;
    font-size: .9em;
}

textarea:focus-visible{
    border: 1px solid #3573f8;
    outline: none;
}




/* ---- SURVEY ---- */

.containerSurvey{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    min-height: 80vh;
    background-image: url("../../public/fondo-web-andes.jpg");
    padding: 2.5rem 6rem;
    padding-bottom: 0;
}

.containerSurvey h2{
    color: #323A46;
    font-size: 2em;
    font-family: 'Work Sans';
}

.containerSurvey .surveysQuestions{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 10rem;
    background: #FFFFFF;
    border: 1px solid #E0E3E8;
    border-radius: 10px 10px 0px 0px;
}

.containerSurvey .surveysQuestions .question{
    display: flex;
    gap: 3rem;
    background: #FAFAFC;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
    padding: 2rem 3rem;
}

.containerSurvey .surveysQuestions .question h3{
    color: #323A46;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 1.5em;
}

.containerSurvey .surveysQuestions .question p{
    color: #323A46;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 1em;
}

.containerSurvey .surveysQuestions .question button{
    width: 50%;
}

.containerSurvey .surveysQuestions .question img{
    width: 280px;
    height: 190px;
}

.containerSurvey .surveysQuestions .question .infoQuestion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}